{
    "license_key": "{{ newrelic_license_key }}",
    "log_level": "{{ newrelic_unix_log_level }}",
    "log_file_name": "{{ newrelic_unix_log_file_name }}",
    "log_file_path": "{{ newrelic_unix_log_file_path }}",
    "log_limit_in_kbytes": {{ newrelic_unix_log_limit_in_kbytes }}
}
